* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    max-width: 100%;

    overflow-x: hidden;
}

:root {
    --bg: #f1f5f9;
    --surface: #ffffff;
    --surface-2: #f8fafc;
    --border: #e2e8f0;

    --text: #172033;
    --muted: #64748b;

    --primary: #2563eb;

    --tile: #3b82f6;
    --tile-active: #2563eb;

    --solved: #a3e635;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    padding:
        env(safe-area-inset-top)
        16px
        env(safe-area-inset-bottom);

    background: var(--bg);
    color: var(--text);

    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;
}


