/* =========================
   CONTROLS
   ========================= */

.move-controls,
.timer-controls {
    min-width: 0;

    display: grid;

    gap: 4px;
}
.move-controls button#undo-button,
.move-controls button#redo-button {
    font-size: 30px;
    font-weight: 900;
}
.move-controls {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.timer-controls {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


